<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatisThings.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="project.mybatisThings.entity.Student">
            <result property="name" column="STU_NAME" jdbcType="VARCHAR"/>
            <result property="age" column="STU_AGE" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        STU_NAME,STU_AGE
    </sql>

    <select id="selectAll" resultType="project.mybatisThings.entity.Student">
        select <include refid="Base_Column_List"/>
        from student
    </select>

    <select id="select02" resultType="HashMap">
        select <include refid="Base_Column_List"/>
        from student where STU_NAME = #{name}
    </select>

    <insert id="insertMultipleStudents">
        insert into student(STU_NAME,STU_AGE) values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.age})
        </foreach>
    </insert>


</mapper>
